.block-editor-iframe .block.iframe {
  .toolbar-inner {
    max-width: 350px;
    justify-content: space-between;

    > div {
      display: flex;
    }

    input {
      width: 100%;
    }

    button,
    input {
      border: none;
      background: none;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .invalid-url {
    padding: 1.5em;
    background: #f9edbe;
    text-align: center;
  }
}

.block.iframe {
  figure {
    margin-right: auto;
    margin-left: auto;
  }
  iframe {
    width: 100%;
  }
}
